@import url("https://swift-ui.netlify.app/components/swift.css");
@import url("/utils/footer/footer.css");
@import url("/utils/navigation/navigation.css");

:root {
  --category-background-color: #f9fafa;
  --login-subheader-color: #5f5f5f;
  --filter-divider-color: #c9c9c9;
  --quantity-border: #5c5c5c;
  --cart-background: #fffbfb;
  --color-white: #fff;
  --form-heading-border: #ed7745;
}
